<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Home</title>
    <!--  웹 페이지 검색 최적화에 쓰일 수 있다.-->
    <meta name="description" content="">
    <meta name="author" content="Jongmin Chung">

    <!-- 모바일에서 디자인이 축소되지 않게 하기 위한 코드 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 폰트어썸 불러오기 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />

    <!-- bootstrap 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- href 로 외부 리소스를 받으면 페이지를 로딩할 때마다 캐싱하지 않으면, 매번 다운 받기에 로딩되는 시간이 소요된다.-->
    <link href="/css/search-bar.css" rel="stylesheet">
    <link href="/css/articles/article-content.css" rel="stylesheet">
    <link href="/css/articles/table-header.css" rel="stylesheet">

    <!-- 공통 CSS -->
    <style>
        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        html > body {
            font-family: 'GmarketSansMedium';
        }
    </style>

</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a id="home" href="#" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a id="hashtag" href="#" class="nav-link px-2 text-secondary">Hashtags</a></li>
                </ul>

                <div class="text-end">
                    <span id="username" class="text-white me-2"></span>
                    <a type="button" id="login" class="btn btn-outline-light me-2">Login</a>
                    <a type="button" id="logout" class="btn btn-outline-warning">Logout</a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
